.header {
  background-color: var(--primary-color);
  color: var(--light-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 10px 0;
  min-height: 60px;

  &__container {
    @include flex-jc-center;
    gap: 20px;

    & > .material-symbols-sharp {
      font-size: 18px;
    }
  }
  &__form {
    
  }
  &__list {

  }
  &__btn {
    margin-right: 0;
  }

  .material-symbols-sharp {
    font-variation-settings: 'FILL' 1;
    cursor: pointer;
  }
  .form-search {
    max-width: 560px;

    input {
      width: 100%;
      border-radius: var(--box-border-radius);
      border: 1px solid var(--primary-text-color);
      background-color: transparent;
      padding: 10px 20px;
      color: var(--primary-text-color);

      &::placeholder {
        color: var(--primary-text-color);
        font-family: var(--font-family);
      }
    }
  }
}


