.header {
  background-color: var(--primary-color);
  color: var(--light-color);
  z-index: 50;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 10px 0;
  min-height: 60px;

  &__container {
    @include flex-jc-center;
    gap: 20px;

    & > .material-symbols-sharp {
      margin-left: 36px;
      font-size: 18px;
    }
    #menu-right {
      margin-left: 0;
      display: none;
    }
  }
  &__logo {
    margin-right: 36px;
  }
  &__user {
    min-width: 156px;
  }
  &__btn {
    margin-right: 0;
  }

  .material-symbols-sharp {
    font-variation-settings: 'FILL' 1;
    cursor: pointer;
    font-size: 20px;
  }
  .form-search {
    width: 560px;
    min-width: 155px;

    input {
      width: 100%;
      border-radius: var(--box-border-radius);
      border: 1px solid var(--primary-text-color);
      background-color: transparent;
      padding: 10px 20px;
      color: var(--primary-text-color);

      &::placeholder {
        color: var(--primary-text-color);
        font-family: var(--font-family);
      }
    }
  }
}

// MEDIA

// PC
@media (max-width: 1087.98px) {
  .header {

    &__btn {
      display: none;
    }
  }
}
// TABLET
@media (max-width: 991.98px) {
  .header {
    
    .logo {
      font-size: 26px;
    }
    .list {
      margin-left: auto;
    }
    .logo span,
    .form-search,
    &__container > .material-symbols-sharp {
      display: none;
    }
    #menu-right {
      display: block;
    }
  }
}

// MOBILE
@media (max-width: 767.98px) {
  .header {

    .user {
      min-width: unset;

      &__info {
        display: none;
      }
    }
  }
}

// MOBILE SMALL
@media (max-width: 479.98px) {
  .header {

    .list {

      &__item:first-child {
        display: none;
      }
    }
  }
}


