.list {

  &__body {
    @include flex-jc-center;
    
  }
  &__item {
    padding: 0 10px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid var(--primary-text-color);
  }
  &__item-success .material-symbols-sharp,
  &__item-danger .material-symbols-sharp {
    position: relative;
  }
  &__item-success .material-symbols-sharp::after,
  &__item-danger .material-symbols-sharp::after {
    @include circle;
    border: 1px solid var(--primary-color);
    top: 0;
    right: 0;
    transform: translate(20%, -10%);
  }
  &__item-success .material-symbols-sharp::after {
    background-color: var(--success-color);
  }
  &__item-danger .material-symbols-sharp::after {
    background-color: var(--danger-color); 
  }
}
