@mixin flex-jc-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-st-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin circle {
  --size: 10px;
  position: absolute;
  content: '';
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
}