.projects {
  border-radius: var(--box-border-radius);
  background-color: var(--primary-color);
  padding: 20px;

  &__body {
    margin-top: var(--main-gap);
  }
  &__title {
    @include flex-jc-center;

    span {
      color: var(--primary-text-color);
      font-size: 14px;
    }
  }

}