.user {
  @include flex-jc-center;
  gap: var(--main-gap);
  color: var(--light-color);

  &__photo {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    overflow: hidden;
  }
  &__info {
    @include flex-jc-center;
  }
  &__member {
    color: var(--primary-text-color);
    font-size: 12px;
  }

  .material-symbols-sharp {
    cursor: pointer;
    color: var(--primary-text-color);
  }
}