:root {
  // COLORS
  --primary-color: #191c24;
  --primary-hover-color: #0f1015;
  --primary-text-color: #6b6f8d;
  --dark-color: #000;
  --success-color: #00d25b;
  --danger-color: #fc424a;
  --light-color: #fff;

  --font-family: 'Rubik', sans-serif;
  --fz-primary: 15px;
  --box-border-radius: 6px;
}